# One hot encoding for multi categories(second way)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

pd.pandas.set_option("display.max_columns", None)
pd.pandas.set_option("display.max_rows", None)

In [2]:
df = pd.read_csv("mercedees train.csv", usecols = ["X1", "X2"])

In [3]:
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [4]:
df.shape

(4209, 2)

In [5]:
df.describe()

          X1    X2
count   4209  4209
unique    27    44
top       aa    as
freq     833  1659

In [6]:
len(df["X1"].unique())

27

In [7]:
len(df["X2"].unique())

44

In [8]:
for col in df.columns:
    print(col, " : ", len(df[col].unique()), "labels")

X1  :  27 labels
X2  :  44 labels

In [9]:
# df.X2.value_counts().sort_values(ascending = False).to_dict()
df.X2.value_counts().to_dict()

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'i': 25,
 'k': 25,
 'b': 21,
 'ao': 20,
 'ag': 19,
 'z': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'h': 6,
 'at': 6,
 'q': 5,
 'an': 5,
 'al': 5,
 'p': 4,
 'ah': 4,
 'av': 4,
 'au': 3,
 'af': 1,
 'am': 1,
 'c': 1,
 'ar': 1,
 'l': 1,
 'j': 1,
 'o': 1,
 'aa': 1}

In [10]:
df_frequency_map = df.X2.value_counts().to_dict()

In [11]:
df.head(10)

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n
5  b   e
6  r   e
7  l  as
8  s  as
9  b  aq

In [12]:
# now mapping the x2.frequency.map to the dataset
df.X2 = df.X2.map(df_frequency_map)
df.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137

# There are some advantages and disadvantages

# Advantages
## 1)It is very simple to implement
## 2)Does not increase the feature dimension space 

# Disadvantages
## 1)If some of the labels have the same count, then they will replaced with the same count and they will loose some valuable information.
## 2)Adds somewhat arbitary numbers, and therefore weigths to the different labels, that may  not be related to their predictive power.

#