# Ordinal Encoding

In [20]:
import datetime

In [21]:
today_date =datetime.datetime.today()
today_date

datetime.datetime(2022, 2, 9, 10, 58, 45, 623745)

In [23]:
today_date-datetime.timedelta(2)

datetime.datetime(2022, 2, 7, 10, 58, 45, 623745)

In [24]:
### List comprehension
[today_date-datetime.timedelta(x) for x in range(0,15)]

[datetime.datetime(2022, 2, 9, 10, 58, 45, 623745),
 datetime.datetime(2022, 2, 8, 10, 58, 45, 623745),
 datetime.datetime(2022, 2, 7, 10, 58, 45, 623745),
 datetime.datetime(2022, 2, 6, 10, 58, 45, 623745),
 datetime.datetime(2022, 2, 5, 10, 58, 45, 623745),
 datetime.datetime(2022, 2, 4, 10, 58, 45, 623745),
 datetime.datetime(2022, 2, 3, 10, 58, 45, 623745),
 datetime.datetime(2022, 2, 2, 10, 58, 45, 623745),
 datetime.datetime(2022, 2, 1, 10, 58, 45, 623745),
 datetime.datetime(2022, 1, 31, 10, 58, 45, 623745),
 datetime.datetime(2022, 1, 30, 10, 58, 45, 623745),
 datetime.datetime(2022, 1, 29, 10, 58, 45, 623745),
 datetime.datetime(2022, 1, 28, 10, 58, 45, 623745),
 datetime.datetime(2022, 1, 27, 10, 58, 45, 623745),
 datetime.datetime(2022, 1, 26, 10, 58, 45, 623745)]

In [25]:
days = [today_date-datetime.timedelta(x) for x in range(0,15)]

In [26]:
import pandas as pd
data = pd.DataFrame(days)
data

                            0
0  2022-02-09 10:58:45.623745
1  2022-02-08 10:58:45.623745
2  2022-02-07 10:58:45.623745
3  2022-02-06 10:58:45.623745
4  2022-02-05 10:58:45.623745
5  2022-02-04 10:58:45.623745
6  2022-02-03 10:58:45.623745
7  2022-02-02 10:58:45.623745
8  2022-02-01 10:58:45.623745
9  2022-01-31 10:58:45.623745
10 2022-01-30 10:58:45.623745
11 2022-01-29 10:58:45.623745
12 2022-01-28 10:58:45.623745
13 2022-01-27 10:58:45.623745
14 2022-01-26 10:58:45.623745

In [27]:
data.columns = ["Day"]
data.head()

                         Day
0 2022-02-09 10:58:45.623745
1 2022-02-08 10:58:45.623745
2 2022-02-07 10:58:45.623745
3 2022-02-06 10:58:45.623745
4 2022-02-05 10:58:45.623745

In [28]:
data["Day"].dt.month

0     2
1     2
2     2
3     2
4     2
5     2
6     2
7     2
8     2
9     1
10    1
11    1
12    1
13    1
14    1
Name: Day, dtype: int64

In [29]:
data["Day"].dt.year

0     2022
1     2022
2     2022
3     2022
4     2022
5     2022
6     2022
7     2022
8     2022
9     2022
10    2022
11    2022
12    2022
13    2022
14    2022
Name: Day, dtype: int64

In [30]:
data["Day"].dt.day

0      9
1      8
2      7
3      6
4      5
5      4
6      3
7      2
8      1
9     31
10    30
11    29
12    28
13    27
14    26
Name: Day, dtype: int64

In [32]:
data["Day"].dt.hour

0     10
1     10
2     10
3     10
4     10
5     10
6     10
7     10
8     10
9     10
10    10
11    10
12    10
13    10
14    10
Name: Day, dtype: int64

In [33]:
data["Day"].dt.minute

0     58
1     58
2     58
3     58
4     58
5     58
6     58
7     58
8     58
9     58
10    58
11    58
12    58
13    58
14    58
Name: Day, dtype: int64

In [56]:
dictinoary = {
    "Monday":1,
    "Tuesday":2,
    "Wednesday":3,
    "Thursday":4,
    "Friday":5,
    "Saturday":6,
    "Sunday":7
}

In [57]:
dictinoary

{'Monday': 1,
 'Tuesday': 2,
 'Wednesday': 3,
 'Thursday': 4,
 'Friday': 5,
 'Saturday': 6,
 'Sunday': 7}